<div class="container p-5">
    <div class="row">
        <div class="col-md-6 mx-auto m-5 p-5">
            <div class="card text-center">
                <div class="text-center m-3">
                    <h3>Email Alumno</h3>
                </div>
                <form action="/paginas/agregarMail/{{legajo}}" method="post">
                  Email: <input type="email" name="email" placeholder="email" required><br>
                <button type="submit" class="btn btn-info m-3">agregar</button>  
                
                </form>
                
            </div>
        </div>
    </div>
</div>