<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="text-center">
                    <h3>Email Alumno</h3>
                </div>
                <form action="" method="post">
                  Email: <input type="email" name="email" placeholder="" nombre="">
                </form>
                
            </div>
        </div>
    </div>
</div>