<div class="container p-4">
   <div class="row">
         <div class="col-md-4 mx-auto">
               <div class="card text-center">
                    <div class="card-header">
                        <h3>Alta Alumnos</h3>
                    </div>
                     <div class="card-body">
                        <ul>
                           <li>Formulario Alta</li>   
                           <li>Lista Alumnos</li>   
                        </ul>

                     </div>
               </div>
            
         </div>
   </div>
</div>