<section class="gallery">
    {{!--   <div class="izquierda">
            <div class="md-5 mx-auto mt-5">
                  <span class="alumno"><h3>alumnos</h3></span>

                  <li><a href="../registro">Formulario de ALTA</a></li> <br>
                  <li><a href="listadousuario">Listado de Alumnos</a></li>     
            </div>
            
      </div>
      <div class="centro">
           <span class="materia"><h3>ALTA </h3></span>
      </div>
      <div class="derecha">
            <h3>ALTA</h3>
      </div> --}}
      <div class="gallery-img">
            <li class="lista"><a href="../registro">Alta alumnos</a></li>
             <li class="lista"><a href="listadousuario">Listado Alumnos</a></li>

      </div>
      <div class="gallery-img"></div>
      <div class="gallery-img"></div>
</section>
