{{!-- <div class="container p-4">
   <div class="row">
         <div class="col-md-4 mx-auto">
               <div class="card text-center">
                    <div class="card-header">
                        <h3>Alta Alumnos</h3>
                    </div>
                     <div class="card-body">
                         <form action="registro" method="POST"></form>
                              
                              <li>Formulario Alta</li>   
                              <li>Lista Alumnos</li>   
                        
                        </form>
                       
               </div>
            
         </div>
   </div>
</div> --}}

<section id="pantalla-dividida">
      <div class="izquierda">
            <div class="md-5 mx-auto mt-5">
                  <span class="alumno"><h3>alumnos</h3></span>

                  <li><a href="../registro">Formulario de ALTA</a></li> <br>
                  <li><a href="listadoUsuario">Listado de Alumnos</a></li>     
            </div>
            
      </div>
      <div class="centro">
           <span class="materia"><h3>ALTA </h3></span>
      </div>
      <div class="derecha">
            <h3>ALTA</h3>
      </div>
</section>
