<div class="p-5" >
    <div class="container p-5" style="background-color:azure ; conteni">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Inicio Sesion</h3>
                    </div>
                    <div class="card-body">
                        <form action="inicio" method="POST">
                            <div class="form-group">
                                <input type="int" class="form-input" name="dni" placeholder=" ">
                                <label for="dni" class="form-label">Usuario:</label>
                            </div>
                            {{!-- <div class="form-group">
                                <input type="int" class="form-control" name="telefono" placeholder="Teléfono">
                            </div> --}}
                            <div class="form-group">
                                <input type="password" class="form-input" name="contrasenia" placeholder=" ">
                                <label for="contrasenia" class="form-label">Contraseña:</label>
                                <span class="form-line"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary m-4" type="submit">
                                    Iniciar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{{!-- <div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Login</div>
      <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
    </div>
    <div class="right">
      <svg viewBox="0 0 320 300">
        <defs>
          <linearGradient
                          inkscape:collect="always"
                          id="linearGradient"
                          x1="13"
                          y1="193.49992"
                          x2="307"
                          y2="193.49992"
                          gradientUnits="userSpaceOnUse">
            <stop
                  style="stop-color:#ff00ff;"
                  offset="0"
                  id="stop876" />
            <stop
                  style="stop-color:#ff0000;"
                  offset="1"
                  id="stop878" />
          </linearGradient>
        </defs>
        <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
      </svg>
    <form action="inicio" method="POST">
      <div class="form" >
        <label for="dni">Usuario</label>
        <input type="dni" id="dni">
        <label for="contrasenia">Contraseña</label>
        <input type="password" id="contrasenia">
        <input type="submit" id="submit" value="Submit">
      </div>
    </form>  
    </div>
  </div>
</div>
 --}}
